# Directorios y archivos que no queremos copiar al contenedor

# Extras del proyecto

# Entornos virtuales
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos bytecode / cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Archivos de logs y temporales
*.log
*.sqlite3
*.sqlite3-journal
*.mo
*.pot
*.py,cover
.coverage
.coverage.*
.cache
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml

# Archivos de documentación, pruebas, y notebooks
docs/_build/
.ipynb_checkpoints/
tests/
*.ipynb

# Archivos de configuración y entorno
.env
.env.*
.pdm.toml
*.pdm-python
*.pdm-build
*.pdm.lock
*.pypirc
.uv
uv.lock
poetry.lock
Pipfile.lock

# Archivos de configuración de herramientas IDE
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Archivos del sistema
.DS_Store
**/.DS_Store
Thumbs.db

# Caché de herramientas de análisis
.ruff_cache/
.mypy_cache/
.pyre/
.pytype/
.dmypy.json
dmypy.json

# Archivos de distribución
build/
dist/
*.egg-info/
.eggs/
MANIFEST